:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/C:/Users/Administrator/Downloads/openhab-3.0.2/userdata/etc/org.ops4j.pax.logging.cfg"
org.ops4j.pax.logging.log4j2.config.file="C:\\Users\\Administrator\\Downloads\\openhab-3.0.2\\userdata\\etc/log4j2.xml"
service.bundleLocation="?"
service.pid="org.ops4j.pax.logging"
