:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.filename="file:/C:/Users/Administrator/Downloads/openhab-3.0.2/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Users\\Administrator\\Downloads\\openhab-3.0.2\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
